<HTML><HEAD><TITLE>MedCommons Notification for $recipient</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
</HEAD>
<BODY>
<p><small>An explanation of emails to follow -------------------------------------------------------------------------------
<br></small>
<br>
Dear $recipient</p>

<p>You are about to receive a batch of emails from MedCommons. These are all the
outgoing messages that MedCommons knows how to send. They are engineered around
certain principal actors, and you will recognize these guys immediately. </p>

<p>When you click on any link in these emails, you will be challenged to log on
to MedCommons. Once you have successfully logged on the service should
immediately take you to your Desktop and perhaps into the Wado Viewer, or the
new Telegram Viewer. </p>

<p>Please let us have your comments.</p>

<p>Sincerely,</p>

<p>The MedCommons Team</p>

<p>Thank you for using MedCommons. </p>

<p>$homepagehtml</p>
</BODY>
</HTML>