<HTML><HEAD><TITLE>eReferral $trackingnum</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
</HEAD>
<BODY>
<img src=http://www.medcommons.net/images/smallwhitelogo.gif />
<p>
eReferral $trackinghtml is available at MedCommons. Please click on the tracking number link to access. Be prepared to supply a PIN or a valid user registration to access patient information.
<p>
Senders Comment:
<br>
<p>
$b
<p>    
HIPAA Security and Privacy Notice: The Study referenced in this 
invitation contains Protected Health Information (PHI) covered under 
the HEALTH INSURANCE PORTABILITY AND ACCOUNTABILITY ACT OF 1996 (HIPAA).
The MedCommons user sending this invitation has set the security 
requirements for your access to this study and you may be required to 
register with MedCommons prior to viewing the PHI. Your access to this 
Study will be logged and this log will be available for review by the 
sender of this invitation and authorized security administrators. 
For more information about MedCommons privacy and security policies, 
please visit $homepagehtml
</BODY>
</HTML>