<HTML><HEAD><TITLE>MedCommons Notification for $recipient</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
</HEAD>
<BODY>
<p>
<small>this is a sample for discussion only - patient to doctor secure communications </small>
-------------------------------------------------------------------------------
<br><br>

Dear Doctor $a,
<p>
Your patient $b has left a $c for you at MedCommons.
<br>
<a href=https://secure.medcommons.net/viewmessage.php?a=01&b=1111222233334440>Click here</a> to securely view this communication.
<br>
</p>
Thank you for using MedCommons.

</BODY>
</HTML>