
* {
	font: 12px Arial, Helvetica, sans-serif;
	margin: 0px; padding:0;
}
#content {
	position:relative;
	width:inherit;
	padding: 120px 0 0 50px;
	}
h1 {margin:25px 0 25px 0; font-size:24px; color: #527463;}
h2 {width: 60%; max-width:500px; height:auto; margin:0 0 20px 0;}
h2 a:link, h2 a:visited, h2 a:active {
	font-weight:bold;
	color:#0000FF;
	text-decoration:none;
	}
h2 a:hover {
	color:#000;
	text-decoration:underline;
}
h3 {width: 500px; max-width:500px; height:auto; margin:0 0 20px 0; font-size:14px; font-weight:bold; }
#footer {
	position:relative;
	width:98%;
	padding: 5em 0 5px 0;
	font-size:9px;
	vertical-align: bottom;
	clear:both;
	text-align:right;
}	
.IndentMore {
	margin-left: 100px;
}