<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Setlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.gigstand.setlist.stl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand HTML Inputs</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Zip Archives</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive</string>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand PDF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand DOC Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand RTF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Image GIF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Image PNG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Image JPEG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand TXT Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>BigStand57x57.png</string>
		<string>BigStand72x72.png</string>
		<string>BigStand@2x.png</string>
		<string>MusicStand_29x29.png</string>
		<string>MusicStand_50x50.png</string>
		<string>MusicStand_29x29@2x.png</string>
		<string>MusicStand_57x57.png</string>
		<string>MusicStand_72x72.png</string>
		<string>MusicStand_57x57@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.billdonner.bigstand</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>1.013</string>
	<key>LSEnvironment</key>
	<dict>
		<key>VideoHelpers</key>
		<string>VideoHelpers</string>
		<key>BonjourWithPeers</key>
		<false/>
		<key>BuiltinSamples</key>
		<string>BasicSamples</string>
		<key>DebugTrace</key>
		<true/>
		<key>DisableMediaPlayer</key>
		<false/>
		<key>FullSamples</key>
		<string>FullSamples</string>
		<key>GalleryTrigger</key>
		<integer>1</integer>
		<key>RecentsToKeep</key>
		<integer>100</integer>
		<key>SnapshotGalleryCount</key>
		<integer>20</integer>
		<key>WifiWebserver</key>
		<false/>
		<key>ZipArchives</key>
		<true/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~ipad</key>
	<string>BigStand-768x1004.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>BigStand-640x960.png</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
