<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>cross2_flat.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.medcommons.mdcmmnsbeta3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.531</string>
	<key>LSEnvironment</key>
	<dict>
		<key>appkey</key>
		<string>load_mc</string>
		<key>fixedcontent</key>
		<string>http://ci.myhealthespace.com/mi</string>
		<key>servicesurl</key>
		<string>http://ci.myhealthespace.com/miws</string>
		<key>bitsurl</key>
		<string>http://ci.myhealthespace.com/midatastore/bits.php</string>
		<key>metaurl</key>
		<string>http://ci.myhealthespace.com/midatastore/meta.php</string>
		<key>mids</key>
		<string>http://ci.myhealthespace.com/midatastore</string>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
</dict>
</plist>
