//
//  ProjectDistribution.xcconfig
//  MCProvider
//
//  Created by J. G. Pusey on 5/9/10.
//  Copyright 2010 MedCommons, Inc. All rights reserved.
//

#include "ProjectBase"

CODE_SIGN_ENTITLEMENTS = Resources/Entitlements.plist
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1
VALIDATE_PRODUCT = YES
