<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>MedCommons Settings</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Login Details</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>sigmundfranklin@medcommons.net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string>tester</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Identity Service</string>
			<key>Key</key>
			<string>identityservice</string>
			<key>Titles</key>
			<array>
				<string>MedCommons</string>
				<string>Facebook</string>
				<string>OpenID</string>
			</array>
			<key>Values</key>
			<array>
				<string>MedCommons</string>
				<string>Facebook</string>
				<string>OpenID</string>
			</array>
			<key>DefaultValue</key>
			<string>MedCommons</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sandbox</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sandbox</string>
			<key>Key</key>
			<string>appliance</string>
			<key>Titles</key>
			<array>
				<string>ci.myhealthespace.com</string>
				<string>healthurl.medcommons.net</string>
				<string>ondemand.medcommons.net</string>
			</array>
			<key>Values</key>
			<array>
				<string>ci.myhealthespace.com</string>
				<string>healthurl.medcommons.net</string>
				<string>ondemand.medcommons.net</string>
			</array>
			<key>DefaultValue</key>
			<string>healthurl.medcommons.net</string>
		</dict>
			<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Factory Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
			<key>Key</key>
			<string>reset</string>
			<key>DefaultValue</key>
			<false/>
			</dict>
	</array>
</dict>
</plist>
