<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
  </appender>

  <appender name="DDLLog" class="org.apache.log4j.FileAppender">
    <param name="file" value="DDL.log"/>
     <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>
    </appender>
    
    <!--  Only send error messages over the net -->
     <appender name="ServerHTTPLog" class="org.apache.log4j.net.HTTPAppender">
    	 <param name="logURL" value="http://ci.myhealthespace.com/router/Logging"/>
    	 
    	 <layout class="org.apache.log4j.PatternLayout">
    	    <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    	 </layout>
    	
    	 <filter class="org.apache.log4j.varia.LevelMatchFilter">
                        <param name="LevelToMatch" value="ERROR"/>
                        <param name="AcceptOnMatch" value="true"/>
      	 </filter>
      	 <filter class="org.apache.log4j.varia.DenyAllFilter"/>
	    
    </appender>

	<category name="org.apache.commons.httpclient.HttpClient">
		<priority value="WARN"/>
	</category>

	<category name="org.dcm4che2">
		<priority value="WARN"/>
	</category>


	<category name="com.sun.javaws.servlet">
		<priority value="WARN"/>
	</category>

  <root>
    <priority value ="info" />
    <appender-ref ref="stdout" />
	<appender-ref ref="DDLLog" /> 
	<appender-ref ref="ServerHTTPLog"/>
  </root>
</log4j:configuration>
