{% extends "www/root.html" %}

{% block footer %}
     <div id="footer">
     
		<table width="740" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"> 
		  <tr> 
		<td width="443"> 
		<div id="footernav"> 
		<ul class="nav"> 
		 
		    <li><a rel="tab" href="http://www.medcommons.net/about.html"><em>About Us</em></a></li> 
		    <li><em>|</em></li> 
		    
		    <li><a rel="tab" href="http://www.medcommons.net/privacy.html"><em>Privacy Policy</em></a></li> 
		    <li><em>|</em></li> 
		 
		    <li><a rel="tab" href="http://www.medcommons.net/terms.html"><em>Terms of Use</em></a></li> 
		    <li><em>|</em></li> 
		    
		    <li><a rel="tab" href="http://www.medcommons.net/hipaa.html"><em>HIPAA</em></a></li> 
		    <li><em>|</em></li> 
		    
		    <li><a rel="tab" href="http://www.medcommons.net/contact.html"><em>Contact</em></a></li> 
		    
		</ul> 
		</div> 
		</td> 
		 
		    <td width="297" align="right" class="footerLink"><b>&copy; MedCommons Inc. 2009</b></td> 
		  
		  </tr> 
		
    </div> <!-- footer  end -->
  <script  type="text/javascript">if(wsinit) wsinit();</script>
  {% endblock %}
