<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_512x512.png</string>
				<string>MusicStand_72x72.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MusicStand Setlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.billdonner.musicstand.stl</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MusicStand Setlist File</string>
			<key>UTTypeIdentifier</key>
			<string>com.billdonner.musicstand.stl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stl</string>
				<key>public.mime-type</key>
				<string>musicstand/x-stl</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>MusicStand_57x57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MusicStand_72x72.png</string>
		<string>MusicStand_512x512.png</string>
	</array>
	<key>CFBundleIconFile~ipad</key>
	<string>MusicStand_72x72.png</string>
	<key>CFBundleIdentifier</key>
	<string>72CCK98LL3.com.gigstand.gigstandhelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.billdonner.musicstand</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mst</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSEnvironment</key>
	<dict>
		<key>CanUseNewFeatures</key>
		<true/>
		<key>CanUseNewViewer</key>
		<true/>
		<key>CanUseSettings</key>
		<true/>
		<key>DefaultAppliance</key>
		<string>portal.medcommons.net</string>
		<key>TraceDebug</key>
		<true/>
		<key>DefaultPassword</key>
		<string>tester</string>
		<key>DefaultUserID</key>
		<string>demodoctor@medcommons.net</string>
		<key>FeatureLevel</key>
		<integer>3</integer>
		<key>FeatureLevel~ipad</key>
		<integer>3</integer>
		<key>InfoPageImageName</key>
		<string>${PRODUCT_NAME}-72x72.png</string>
		<key>MemberListDisplayOptions</key>
		<dict>
			<key>HiddenItemsLabel</key>
			<string>Members</string>
			<key>VisibleItemsLabel</key>
			<string>Inbox</string>
		</dict>
		<key>SplashURL</key>
		<string>http://medcommons.net/m/MCProvider/splash.html</string>
		<key>SplashURL~ipad</key>
		<string>http://medcommons.net/m/MCProvider/splash-ipad.html</string>
		<key>TopLevelGroupTitle</key>
		<string>Groups</string>
		<key>TopLevelHomeTitle</key>
		<string>Provider Portal</string>
		<key>TopLevelHomeURL</key>
		<string>http://hot.medcommons.net/info.html</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
