<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>SetlistPict.jpg</string>
				<string>MusicStand_72x72.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GigStand Setlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.gigstand.setlist.stl</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MusicStand_57x57.png</string>
		<string>MusicStand_72x72.png.png</string>
		<string>MusicStand_57x57@2x.png</string>
		<string>MusicStand_29x29.png</string>
		<string>MusicStand_50x50.png</string>
		<string>MusicStand_29x29@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>72CCK98LL3.com.gigstand.gigstandprivate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.billdonner.musicstand</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mst</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>BuiltinSamples</key>
		<string>FullSamples</string>
		<key>DisableMediaPlayer</key>
		<false/>
		<key>DebugTrace</key>
		<false/>
	</dict>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GigStand Setlist File</string>
			<key>UTTypeIdentifier</key>
			<string>com.gigstand.setlist.stl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stl</string>
				<key>public.mime-type</key>
				<string>gigstand/x-stl</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
