<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>MCProvider-57x57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MCProvider-57x57.png</string>
		<string>MCProvider-72x72.png</string>
		<string>MCProvider-29x29.png</string>
		<string>MCProvider-57x57@2x.png</string>
		<string>MCProvider-29x29@2x.png</string>
		<string>MCProvider-512x512.png</string>
	</array>
	<key>CFBundleIconFile~ipad</key>
	<string>MCProvider-72x72.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.medcommons.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.0</string>
	<key>LSEnvironment</key>
	<dict>
		<key>CanUseNewViewer</key>
		<true/>
		<key>CanUseSettings</key>
		<true/>
		<key>DefaultAppliance</key>
		<string>www.medcommons.net</string>
		<key>DefaultHealthURLFormat</key>
		<string>http://%@/router/ipad/%@?auth=%@</string>
		<key>DefaultPassword</key>
		<string>tester</string>
		<key>DefaultTheme</key>
		<string>Pitch Black</string>
		<key>DefaultUserID</key>
		<string>demodoctor@medcommons.net</string>
		<key>FeatureLevel</key>
		<integer>1</integer>
		<key>FeatureLevel~ipad</key>
		<integer>1</integer>
		<key>InfoPageImageName</key>
		<string>MCProvider-72x72.png</string>
		<key>MemberListDisplayOptions</key>
		<dict>
			<key>HiddenItemsLabel</key>
			<string>Members</string>
			<key>VisibleItemsLabel</key>
			<string>Inbox</string>
		</dict>
		<key>SplashURL</key>
		<string>http://www.medcommons.net/apps/ipad/splash/splash.html</string>
		<key>SplashURL~ipad</key>
		<string>http://www.medcommons.net/apps/ipad/splash/splash-ipad.html</string>
		<key>TopLevelGroupTitle</key>
		<string>Groups</string>
		<key>TopLevelHomeTitle</key>
		<string>MedCommons</string>
		<key>TopLevelHomeURL</key>
		<string>http://www.medcommons.net/</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>MCProvider-iPhone</string>
	<key>UILaunchImageFile~ipad</key>
	<string>MCProvider-iPad</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
