<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>${PRODUCT_NAME}-57x57.png</string>
	<key>CFBundleIconFile~ipad</key>
	<string>${PRODUCT_NAME}-72x72.png</string>
	<key>CFBundleIdentifier</key>
	<string>SSNKPPFA38.com.medcommons.mcprovider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.medcommons.mcprovider</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-medpad-services</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSEnvironment</key>
	<dict>
		<key>CanUseSettings</key>
		<true/>
		<key>InfoPageImageName</key>
		<string>${PRODUCT_NAME}-72x72.png</string>
		<key>MemberListDisplayOptions</key>
		<dict>
			<key>HiddenItemsLabel</key>
			<string>Members</string>
			<key>VisibleItemsLabel</key>
			<string>Inbox</string>
		</dict>
		<key>SplashURL</key>
		<string>http://medcommons.net/m/MCProvider/splash.html</string>
		<key>SplashURL~ipad</key>
		<string>http://medcommons.net/m/MCProvider/splash-ipad.html</string>
		<key>TopLevelGroupTitle</key>
		<string>Groups</string>
		<key>TopLevelHomeTitle</key>
		<string>Provider Portal</string>
		<key>TopLevelHomeURL</key>
		<string>http://www.medcommons.net/ondemand</string>
		<key>DefaultAppliance</key>
		<string>portal.medcommons.net</string>
		<key>DefaultPassword</key>
		<string>tester</string>
		<key>DefaultUsername</key>
		<string>demodoctor@medcommons.net</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>${PRODUCT_NAME}-iPhone</string>
	<key>UILaunchImageFile~ipad</key>
	<string>${PRODUCT_NAME}-iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
