{% extends "www/base.html" %} 
{% block head %}
<style type='text/css'>
  table tr { height: 2.3em; }
  td.usertools * { vertical-align: middle; }
  td.usertools .icon { position: relative; top: -2px; }
  td { padding-left: 5px; }
</style>
{% endblock head %}
{% block main %}

<div class="secondary_page1_8 newsroom">

<!--googleon: index-->

	<div class="innerPageGroup">

	<div class="news_section">
		<div class="news_header_container" >    		
			<div class="news_header">
				<div class="section_title" >			
					<div class="vCenter">

						<div class="vCenter_inner">    	
                	    	<div class="vCenter_body">
								<div class="print_content">
                				<h1 style='color:gray'>Terms of Use</h1>
                				
													<p>last updated August 9, 2010</p>
								</div>
								<div class='breadcrumb'>
	
	<!--googleoff: index-->
			<!--googleon: index-->
</div>        					</div> <!-- end vCenter_body -->
						</div> <!-- end vCenter_inner -->
					</div> <!-- vCenter -->	
				</div> <!-- end section_title -->

			</div> <!-- end news_header -->
		</div> <!-- end news_header_container -->
	</div> <!-- end news_section -->
<!-- marker:newsroom audience: -->

	
<!-- marker:secondary_portal audience: -->


<div id="wrappers">
<div id="wrapper">
<div id="wrapper2">
<div id="wrapper3">
<div id="wrapper4">
<div id="wrapper5">

<div id="navcollb">
<div id="navcolbg_no">
<div id="navcolbg2">
<div id="sidecolbg_no">
<div id="sidecolspacer">
<div id="sidecolspacer2">
<div id="sidecolspacer3">



<div id="main">
<a name="skip"></a><a name="top"></a>

<div class="syndicate">	
	
<div id="mainbody">
    <div class="mainbody_inner">
    	<div class="mainbody_inner2">
    		<div class="mainbody_content">
    			<!-- Begin Page Body -->
		
					                	<div class="bodyfield">
						<div class="print_content">


<!-- Content Table-->

<table width="900" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="75">&nbsp;</td>
    <td width="750" valign="top">


<p>
<cite>THE MEDCOMMONS TERMS OF USE INCORPORATES BY REFERENCE THE <a href="privacy.html" title="MedCommons Privacy Policy">MEDCOMMONS.NET PRIVACY POLICY</a>.
</cite>
</p>
<p>
<cite>
PARTS OF THIS SITE ARE ALSO SUBJECT TO THE  <a href="http://www.amazon.com/AWS-License-home-page-Money/b/ref=sc_fe_c_0_16427261_10?ie=UTF8&amp;node=3440661&amp;no=16427261&amp;me=A36L942TSJ2AJA" title="Amazon Web Sevices Customer Agreement">AMAZON WEB SERVICES CUSTOMER AGREEMENT</a>

</cite>
</p>

<p>
  By using the MedCommons, Inc. ('MedCommons')
  web site (the 'Site'), whether accessed directly or through a third-party web
  site, you signify your agreement to all terms, conditions and notices
  contained or referenced herein (the 'Terms of Use'). If you do not agree to
  these Terms of Use, please do not use the Site. MedCommons reserves the right,
  in its discretion, to update or revise these Terms of Use. Please check
  periodically for changes. Your continued use of the Site following the posting
  of any changes to the Terms of Use constitutes acceptance of those changes.<br>
<p>&nbsp;</p>
  <b>1. Not for Clinical Use. </b>The Site is intended to provide an opportunity
  for you to test a trial version of the HealthURL Appliance and certain other
  MedCommons products and services available on the Site from time to time
  (collectively, the 'Devices'). The HealthURL Appliance is subject to
  regulation by the Federal Drug Agency, and a 510[k] filing applies to the
  HealthURL Appliance. It is labeled: <b>CAUTION Prototype software. For beta
  use only. </b>Neither the Site nor any Device thereon is an attempt to
  practice medicine or provide specific medical advice, and none should be used
  to make a diagnosis or to replace or overrule a qualified health care
  provider's judgment. You should not rely upon the Site or any Device if you or
  anyone else might need emergency medical treatment. We strongly encourage you
  to consult with a qualified health care professional for answers to personal
  questions. 
</p>

<p>
  <b>2. Use of the Site.</b> You may use the
  Site, and transmit and store data only in accordance with and subject to these
  Terms of Use and the MedCommons, Inc. Privacy Policy (the 'Privacy Policy')
  (available at <a href="http://www.medcommons.net/">www.medcommons.net</a>). 

</p>

<p>
  You understand and agree that MedCommons may
  stop (permanently or temporarily) providing any products, services or features
  offered through the Site at any time. Any data transmitted to the Site is
  subject to deletion without notice at any time. You are responsible for
  maintaining back-up copies of such data separately from the Site. 
</p>

<p>
  You understand and agree that you are
  responsible for maintaining the confidentiality of PIN codes, passwords and
  other identifiers associated with your use of the Site (each, a 'Pass Code').
  Accordingly, you agree that you will be solely responsible to MedCommons for
  any activity that occurs in connection with your Pass Codes. Further, you
  understand and agree that MedCommons will not recover any lost Pass
  Code.
</p>

<p>
  You may not use the Site for any purpose
  that is unlawful or prohibited by these Terms of Use, or to solicit the
  performance of any illegal activity or other activity which infringes the
  rights of MedCommons or others. Without limiting the foregoing, you may not
  (a) disassemble, decompile or reverse engineer any software available through
  the Site, except, and only to the extent, as expressly permitted by law or (b)
  attempt to gain unauthorized access to any portion of the Site or any other
  systems or networks connected to the Site by hacking or any other illegitimate
  means. 
</p>

<p>
  <b>3. Proprietary Rights.</b> You
  acknowledge and agree that the content and materials available on the Site are
  protected by copyrights, trademarks, service marks or other proprietary rights
  and laws. You agree not to sell, license, rent, modify, distribute, copy,
  reproduce, transmit, publicly display, publicly perform, publish, adapt, edit
  or create derivative works from content or materials available on the Site.
  Use of the content or materials for any purpose not expressly permitted in
  these Terms of Use is prohibited. 
</p>

<p>
  <b>4. Feedback.</b> There may be
  opportunities within the Site for you to provide certain comments,
  suggestions, data or other information to MedCommons (collectively,
  'Feedback'). MedCommons shall have the right to retain and use any such
  Feedback in current or future products or services, without further
  compensation to you. To the extent such Feedback is protectable under
  intellectual property laws, you agree to cooperate with MedCommons as needed
  to obtain such protection as MedCommons may desire and you agree to assign
  your rights to such Feedback to MedCommons.
</p>

<p>
  <b>5. Additional Terms and Conditions.
  </b>Additional terms and conditions may apply to specific portions of the
  Site, which terms are made a part of these Terms of Use by reference. You
  agree to abide by such other terms and conditions. If there is a conflict
  between these Terms of Use and the terms posted for or applicable to a
  specific portion of the Site, the latter terms shall control with respect to
  your use of that portion of the Site.

</p>

<p>
  <b>6. International
  Use</b>. MedCommons makes no
  representation that materials available on the Site are appropriate or
  available for use in locations outside the United States, and accessing the
  Site is prohibited in territories where viewing or downloading the Site or the
  content or materials thereon is in violation of local law. Those who choose to
  access the Site from other locations do so on their own initiative and are
  responsible for compliance with local laws. 
</p>

<p>
  <b>7. Third Party
  Sites</b>. The Site may link you to
  other web sites on the Internet. These other web sites are not under the
  control of MedCommons, and you acknowledge that MedCommons is not responsible
  for the accuracy, copyright compliance, legality, decency or any other aspect
  of the content of such sites. The inclusion of such a link does not imply
  endorsement of the site by MedCommons or any association with its operators.
  
  <p>
  <b>8.
  </b><b>DISCLAIMER OF
  WARRANTIES</b>. ALL MATERIALS,
  INFORMATION AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE (THE
  'CONTENT') ARE PROVIDED 'AS IS' AND 'AS AVAILABLE' FOR YOUR USE. THE CONTENT
  IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED,
  INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT. MEDCOMMONS DOES NOT WARRANT THAT
  THE CONTENT IS ACCURATE, RELIABLE OR CORRECT; THAT THE SITE WILL BE AVAILABLE
  AT ANY PARTICULAR TIME OR LOCATION; THAT ANY DEFECTS OR ERRORS WILL BE
  CORRECTED; OR THAT THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
  YOUR USE OF THE SITE IS SOLELY AT YOUR RISK. BECAUSE SOME JURISDICTIONS DO NOT
  PERMIT THE EXCLUSION OF CERTAIN WARRANTIES, THESE EXCLUSIONS MAY NOT APPLY TO
  YOU.
  
  <p>

  <b>9.
  </b><b>LIMITATION OF
  LIABILITY. </b>UNDER NO CIRCUMSTANCES
  SHALL MEDCOMMONS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL,
  SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR INABILITY TO
  USE, THE SITE. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED
  ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER BASIS, EVEN IF
  MEDCOMMONS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. Because some
  jurisdictions do not allow the exclusion or limitation of incidental or
  consequential damagers, MedCommons' liability in such jurisdictions shall be
  limited to the extent permitted by law.
  <b><span style="">You
  may recover from MedCommons only direct damages up to the amount you paid to
  MedCommons in connection with your use of the Site during the twelve (12)
  months prior </span></b>to the event
  giving rise to such liability.
</p>

<p>
  <b>10. Release and Waiver</b>. To the
  maximum extent permitted by applicable law, you hereby release, and waive all
  claims against MedCommons and its employees and agents from any and all
  liability for claims, damages (actual and consequential), costs and expenses
  (including litigation costs and attorneys' fees) of every kind and nature,
  arising out of or in any way connected with use of the Site. If you are a
  California resident, you waive your rights under California Civil Code 1542,
  which states, 'A general release does not extend to claims which the creditor
  does not know or suspect to exist in his favor at the time of executing the
  release, which if known by him must have materially affected his settlement
  with the debtor.' Residents of other states and nations similarly waive their
  rights under applicable and/or analogous laws, statutes or regulations.
</p>

<p>
  <b>11. Indemnification.</b>You agree to defend, indemnify
  and hold harmless MedCommons, and its employees, contractors, officers and
  directors from all liabilities, claims and expenses, including attorneys'
  fees, that arise from your use or misuse of the Site. MedCommons reserves the
  right, at it own expense, to assume the exclusive defense and control of any
  matter otherwise subject to indemnification by you, in which event you will
  cooperate with MedCommons in asserting any available defenses.
  <br>

</p>
<p>
  <b>12. Termination.</b> MedCommons reserves
  the right, in its sole discretion, to suspend or terminate your access to all
  or part of the Site, with or without notice.
</p>

<p>
  <b>13. Procedure for Making Claims of
  Copyright Infringement.</b> If you believe that your work has been copied and
  is accessible on the Site in a way that constitutes copyright infringement,
  please provide the following information to MedCommons:
</p>

<ul>
  <li>

    <p>
      an electronic or physical signature of
      the person authorized to act on behalf of the owner of the copyright
      interest; 
    </p>
</li></ul>
<ul>
  <li>
    <p>
      a description of the copyrighted work
      that you claim has been infringed; 
    </p>
    </li><li>
      <p>

        a description of where the material
        that you claim is infringing is located on the Site; 
      </p>
      </li><li>
        <p>
          your address, telephone number and
          email address; 
        </p>
        </li><li>
          <p>
            a statement by you that you have a
            good faith belief that the disputed use is not authorized by the
            copyright owner, its agent, or the law; and
          </p>

          </li><li>
            <p>
              a statement by you, made under
              penalty of perjury, that the above information in your notice is
              accurate and that you are the copyright owner or authorized to act
              on the copyright owner's behalf.
            </p>
</li></ul>
<p>
  <br>
  Please send such notice to:
</p>
<p>
  MedCommons, Inc.<br>

  100 Galen St. <br>

  Watertown, Mass <br>

  1.617.395.6744<br>
</p>
<p>
  <a href="mailto:report@medcommons.net">report@medcommons.net</a><br>

  <br>
</p>
<p>
  <b>14. Choice of Law and
  Forum. </b>These Terms of Use shall
  be governed by and construed in accordance with the laws of the Commonwealth
  of Massachusetts, excluding its conflicts of law rules. You expressly agree
  that the exclusive jurisdiction for any claim or action arising out of or
  relating to these Terms of Use or your use of the Site shall be the state or
  federal courts located in the Commonwealth of Massachusetts, and you further
  agree and submit to the exercise of personal jurisdiction of such courts for
  the purpose of litigating any such claim or action.<br>
  <br>
  <b>15. Miscellaneous.</b> Unless otherwise specified herein, these Terms of
  Use, together with the Privacy Policy, constitute the entire agreement between
  you and MedCommons with respect to the Site and supersede all prior or
  contemporaneous communications and proposals (whether oral, written or
  electronic) between you and MedCommons with respect to the Site. If any part
  of these Terms of Use is held invalid or unenforceable, that portion shall be
  construed in a manner consistent with applicable law to reflect, as nearly as
  possible, the original intentions of the parties, and the remaining portions
  shall remain in full force and effect. The failure of MedCommons to act with
  respect to a breach by you or others does not waive MedCommons' right to act
  with respect to subsequent or similar breaches. MedCommons' failure to
  exercise or enforce any right or provision of these Terms of Use shall not
  constitute a waiver of such right or provision. The section headings contained
  in these Terms of Use are included for convenience only and shall not limit or
  otherwise affect the terms of these Terms of Use.</p></td>
   <td>&nbsp;</td>

        </tr>
</table>

</div> <!-- end print_content -->

                	</div> <!-- end bodyfield -->
    			<!-- End Page Body -->
    		</div> <!-- end mainbody_content -->
    	</div> <!-- end mainbody_inner2 -->
    </div> <!-- end mainbody_inner -->
</div> <!-- end mainbody -->

</div> <!-- end syndicate -->
                    </div>
                    <!-- end main -->
                    <div class="clear">&nbsp;</div>
				  </div><!-- end sidecolspacer3 -->
                  </div><!-- end sidecolspacer2 -->
                  </div> <!-- end sidecolspacer -->
                </div>
                <!-- end sidecolbg -->
              </div>
              <!-- end navcolbg2 -->
            </div>
            <!-- end navcolbg -->
          </div>
          <!-- end navcollb -->
        </div> <!-- end wrapper5 -->
        </div> <!-- end wrapper4 -->
        
   
{% endblock main %} 