<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="MedCommons, Inc." />
    <meta name="description" content="MedCommons Website Version 1.0 Page $$$htmltitle$$$" />
    <meta name="keywords" 
    content="medcommons, personal health records,ccr, phr, privacy, patient, health, records, medical records,
						emergencyccr"/>
    <meta name="robots" content="all"/>
    <meta name="viewport" content="width=320" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
     {% block meta %} {% endblock %} 
     {% block favicon %}
    <link rel="shortcut icon" href="../images/favicon.gif" type="image/gif" />
     {% endblock %}
    <link media="all" href="{% if StyleSheet %}{{StyleSheet}}{% else %}../css/medCommonsStyles.css{% endif %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
function $(id) { return document.getElementById(id); }
function el(id) { return $(id); }
function showinline(id)
{
	if($(id))
		$(id).style.display = 'inline';
}
function showblock(id)
{
	if($(id))
		$(id).style.display = 'block';
}
function dontshow(id)
{
	if ($( id ))
	$( id ).style.display = 'none';
}
function toggle(id)
{
	if(!$(id)) 
		return true;
	if($(id).style.display == 'none')
		$(id).style.display = 'block'; 
	else
		$(id).style.display = 'none';
	return true;
}
/**
* gets the value of the specified cookie.
*/
function getCookie(name)
{
	var dc = document.cookie;
	var prefix = name + "=";
	var begin = dc.indexOf("; " + prefix);
	if (begin == -1) {
		begin = dc.indexOf(prefix);
		if (begin != 0) return null;
	}
	else {
		begin += 2;
	}
	var end = document.cookie.indexOf(";", begin);
	if (end == -1) {
		end = dc.length;
	}
	return unescape(dc.substring(begin + prefix.length, end));
}

var signed_on; 

var top_nav = [
  { text: 'Help', href: 'http://dicomondemand.com/instructions/', target: '_new' },
  { text: 'Dashboard', href: '{{ Site }}/acct/home.php' },
  {% if features.services_menu %}
  { text: 'Services', href: '{{ Site }}/mod/svcsetup.php', hidden: true },
  {% endif %}
  { text: 'Settings', href: '{{ Site }}/acct/settings.php' },
  { text: 'Simtrak Admin', href: '{{ Site }}/simtrak/', hidden: true },
  { text: 'Sign In', href: '{{ Site }}/acct/login.php', hidden: true },
  { text: 'Logout', href: '{{ Site }}/acct/logout.php' },
  { text: 'DDL', href: '/acct/ddl.php', hidden: function() {return !getCookie('mcddl') || (getCookie('mcddl')=='false');} }
];


function add_nav(n,before) {
  for(var i=0; i<top_nav.length; ++i) {
      if(before == top_nav[i].text) {
          top_nav.splice(i,0,[n]);
          return;
      }
  }
  top_nav.push(n);
}


function render_top_nav() {
  var h = '';
  for(var i=0; i<top_nav.length; ++i) {
    var item = top_nav[i];

    var hidden = (item.hidden && (typeof item.hidden == 'function')) ? item.hidden() : item.hidden;
    if(hidden)
      continue;
    if(i!=0)
      h += '&nbsp;|&nbsp; '; // trailing space helps wrapping
    if(item.disabled)
      h += '<li class="light">'+item.text+'</li>';
    else 
      h += '<li><a class="menu_'+item.text.toLowerCase().replace(/ /g,'')+'" href="'+item.href+'"'
            +(item.target?'target="'+item.target+'"':'')
            +'>'+item.text+'</a></li>';
  }
  $('navcontainer').innerHTML=('<ul id="navlist" class="listinlinetiny">' + h +'</ul>');
}

function nav(txt) {
  for(var i=0; i<top_nav.length; ++i) {
    if(top_nav[i].text == txt)
      return top_nav[i];
  }
  return {};
}

function get_mc_attribute(att) {
  var mc = getCookie('mc');
  if(!mc)
    return null;
  var atts = mc.split(',');
  for(var i=0; i<atts.length; ++i) { 
    if(atts[i].match(new RegExp('^'+att+'='))) {
      return atts[i].split('=')[1];
    }
  }
  return null;
}

function wsinit()
{
	if(getCookie('mc'))	{
		signed_on = true;
		showblock('loggedon');
		dontshow('notloggedon');
		showinline('visi');
        nav('Logout').hidden = false;
        nav('Dashboard').hidden = false;
        nav('Settings').hidden = false;
        nav('Sign In').hidden = true;
        var s = get_mc_attribute('s');
        if((s & 2) > 0) {
          nav('Services').hidden = false;
        }
        if((s & 4) > 0) {
          nav('Settings').hidden = true;
        }
        if((s & 16) > 0) {
          nav('Simtrak Admin').hidden = false;
        }
        if((s & 32) > 0) {
          nav('Simtrak Admin').hidden = true;
          nav('Services').hidden = true;
          nav('Settings').hidden = false;
        }
        if((s & 64) > 0) {
          $('logoImg').onload = function() {
	        $('logoImg').style.visibility = 'visible';
          };
          $('logoImg').src='/acct/logo.php';
        }
        else
	        $('logoImg').style.visibility = 'visible';
            
		setIdleTimeout(function() {location.href='/acct/logout.php?next=%2Facct%2Flogin.php%3Fprompt%3Dexpiredsession';}); 
	}
	else {
		signed_on = false;
		showblock('notloggedon');
		dontshow('loggedon');
		dontshow('visi');
	    nav('Sign In').hidden = false;
	    for(i in menu=['Dashboard','Logout','Settings', 'Services']) {
	      nav(menu[i]).hidden = true;
	    }
        $('logoImg').style.visibility = 'visible';
	}
	
	render_top_nav();
}

(function() {
    var MAX_IDLE_TIME = {{ SessionTimeoutSeconds }} * 1000;
    var idleSince = (new Date().getTime());
    var timeoutHandler = null;
    var timeoutTimer = null;

    function onActivity() {
      idleSince = (new Date().getTime());
    }
    function checkTimeout() {
      var now = (new Date().getTime());
      if(now - idleSince > MAX_IDLE_TIME) {
        if(timeoutHandler) 
          timeoutHandler();
      }
    }
    function listen(evt, handler) {
      var d = document;
      if(d.addEventListener)   // DOM Level 2 Event Model
        d.addEventListener(evt, handler, true);
      else
      if(d.attachEvent)  // IE 5+ Event Model
        d.attachEvent("on"+evt, handler);
    }
    window.setIdleTimeout = function(handler) {
      timeoutHandler = handler;
      if(!timeoutTimer) {
	      listen("mousemove", onActivity);
	      listen("keydown", onActivity);
	      timeoutTimer = setInterval(checkTimeout, 10000);
      }
    }
  })();
</script>
    {% block head %}{% endblock %}
    </head>
<body {% block body %}{% endblock %}>
<table id='topheader'><tr>
<td id ='topleft' >
  {% block logo %}
  <a href="{{ HomePage }}" title="{{ Alt }}">
  <script type='text/javascript'>
	if(getCookie('mc') && (get_mc_attribute('s')&64))	{
     document.write('<img  border="0" src="/acct/logo.php"  id="logoImg"/>');
	}
	else
     document.write('<img  border="0" src="{{ Logo }}"  id="logoImg"/>');
  </script>
  </a>
  {% endblock logo %}<div id="navcontainer"></div></td>
  <td width=100% >&nbsp;</td>
  <td  id='topright' >
  <span id='visi' class=right >
   {% block stamp %}
                <a href='../acct/home.php'><img alt='' border=0 id='stamp' src='../acct/stamp.php'  /></a>
   {% endblock stamp %}
  </span>
 </td>
 </tr></table>
        <div id='main'>
                   {% block main %} {% endblock main %}
        </div>

            {% block footer %} {% endblock %}
  <script type="text/javascript">
  // prevent original www_init() defined in base.js from being called
  function www_init() {
  }
  if(getCookie('mc'))
    document.write("<style type='text/css'> #loggedon, #visi { display: block; }</style>");
  </script>
  {% block endjs %} {% endblock %}
</body>
</html>
