{% extends "www/base.html" %} 
{% block head %}
<style type='text/css'>
  table {margin-top:1em;}
  table tr { height: 2.3em;font-size:1.3em; }
  td.usertools * { vertical-align: middle; }
  td.usertools .icon { position: relative; top: -2px; }
  td { padding-left: 5px; }
  .bodyHeadline {font-size: 1.8em; color: gray; font-weight: 600;padding-top:13px; padding-bottom:8px}
</style>
{% endblock head %}
{% block main %}

<div class="secondary_page1_1 secondary_portal ">
  <div class = "innerPageGroup" >



	<div class="secondary_header ">		
		  
		        <div class="section_title">
			
				                		<div class="vCenter">
        	    <div class="vCenter_inner">    	
        	    	<div class="vCenter_body">						
        				<h1>Newsroom</h1>	
													<p>last updated on Sep 9,2010 </p>
						        			</div> <!-- end vCenter_body -->
        	    </div> <!-- end vCenter_inner -->
        	  </div> <!-- vCenter -->	
        	</div> <!-- page title -->
	</div> <!-- end secondary_header -->


<div id="wrapper">





<!-- Sub Features Table -->
    <table border="0" width="800" cellspacing="0" cellpadding="5">
        
            <tr>
              <td class="bodyHeadline">Blogs<a name="News" id="News"></a></td>
        </tr>
        
        <tr>
          <td>
          <span class="bodyLink"><a href="http://www.thehealthcareblog.com/the_health_care_blog/2009/10/health-internet---the-new-consumer-friendly-nhin.html" target="_blank">Health Internet - The New Consumer-Friendly NHIN</a></span> - October 9, 2009
          
          <br>
          <span class="bodyLink"><a href="http://www.thehealthcareblog.com/the_health_care_blog/2009/05/meaningful-health-data-mining-how-will-we-regulate-consumerdriven-research-and-advice.html" target="_blank">Meaningful Health Data Mining</a></span> - May 1, 2009
          
          <br>
          <span class="bodyLink"><a href="http://www.thehealthcareblog.com/the_health_care_blog/2009/04/whose-data-is-it-anyway-.html" target="_blank">Whose Data Is It Anyway?</a></span> - April 1, 2009
          
          <br>
          <span class="bodyLink"><a href="http://www.thehealthcareblog.com/the_health_care_blog/2009/01/a-transparent-health-record.html" target="_blank">A Transparent Health Record</a></span> - January 28, 2009
          
          <br>
          <span class="bodyLink"><a href="http://agropper.wordpress.com/2008/03/09/how-is-minute-clinic-like-childrens-hospital-of-boston/" target="_blank">How is Minute Clinic like Children's Hospital of Boston?</a></span> - March 9, 2008
          
          <br>
          <span class="bodyLink"><a href="http://agropper.wordpress.com/2008/03/02/does-himss-augur-ccr-as-the-web-consumer-health-standard/" target="_blank">Does HIMSS augur CCR as the Web consumer health standard?</a></span> - March 2, 2008
          
          <br>
          <span class="bodyLink"><a href="http://agropper.wordpress.com/2007/10/12/patient-id-on-the-internet/" target="_blank">Patient ID on the Internet</a></span> - October 12, 2007
          
          <br>
          <span class="bodyLink"><a href="http://www.psqh.com/julaug06/web.html" target="_blank">Web-Connected Patients and Doctors:The Case for Personal Control of Private Health Information</a></span> - July 13, 2006
          
          </td>
        </tr>
      
      <tr>
              <td>
              <img src="images/spacer.gif" width="2" height="5" />
              </td>
        </tr>
        
        <tr>
          <td class="bodyHeadline">News</td>
        </tr>
      
      <tr>
        <td>
         <span class="bodyLink"><a href="http://www.emc.com/about/news/press/2010/20100512-02.htm" target="_blank">
         EMC Atmos Cloud Ecosystem Drives Unparalleled Choice and Flexibility for Customers</a> </span> - May 12, 2010
   
          <br>
      
                <span class="bodyLink"><a href="http://www.ama-assn.org/amednews/2009/03/02/bisa0302.htm" target="_blank">Has tech's time arrived? (Towards the Electronic Patient Record conference)</a> </span> - March 2, 2009
          
          

               <br>
      
                <span class="bodyLink"><a href="http://www.thefreelibrary.com/MedCommons+HealthURL,+a+New+Unified+Clinical+Viewer+Appliance,+Is+...-a0189949534" target="_blank">
                MedCommons HealthURL, a New Unified Clinical Viewer Appliance, Is Integrated with EMC Open Systems Archive Solution for Healthcare Organizations</a> </span> - Dec 2, 2008
          
          
          <br>
          <span class="bodyLink"><a href="http://aws.typepad.com/aws/2008/11/2008-aws-startup-challenge-finalists.html" target="_blank">MedCommons Selected as Finalist in Amazon Web Services Start-Up Challenge</a></span> - November 12, 2008
          
          <br>
          <span class="bodyLink"><a href="http://www.xconomy.com/boston/2008/11/10/three-boston-startups-finalists-in-amazons-100k-web-services-challenge/" target="_blank">Three Boston Startups Finalists in Amazon's $100K Web Services Challenge</a></span> - November 10, 2008
          
          <br>
          <span class="bodyLink"><a href="http://aws.amazon.com/solutions/case-studies/medcommons/" target="_blank">Amazon MedCommons Case Study</a></span> - September 12, 2008
          
          <br>
          <span class="bodyLink"><a href="http://www.g2reports.com/issues/advisory/advisory/mark_terry/345-1.html" target="_blank">Personal Health Records - Who Are the Key PHR Providers ...</a> </span> - June 30, 2008
          

          
              <br>
          <span class="bodyLink"><a href="http://www.psqh.com/julaug06/web.html" target="_blank">Web-Connected Patients and Doctors:The Case for Personal Control of Private Health 
Information</a> </span> - July 1, 2006
          
         
      
      </td>
      </tr>
      
            <tr>
              <td>
              <img src="images/spacer.gif" width="2" height="5" />
              </td>
        </tr>
    
        
        <tr>
          <td class="bodyHeadline">Videos</td>
        </tr>
      
      <tr>
        <td>
        <span class="bodyLink"><a href="http://media.amazonwebservices.com/aws-start-up-videos/medcommons.html" target="_blank">Amazon Video</a></span> - November 12, 2008
         
         <br>
          <span class="bodyLink"><a href="http://www.youtube.com/watch?v=CofNmbEj6OU" target="_blank">Video Overview - 2 Minute</a></span> - September 16, 2006 
        
        <br>
          <span class="bodyLink"><a href="http://www.youtube.com/watch?v=676bNq-DzpQ" target="_blank">Video Interview - 7 Minute</a></span> - September 16, 2006 </td>
      </tr>
            <tr>
              <td>
              <img src="images/spacer.gif" width="2" height="5" />
              </td>
        </tr>
      
       <tr>
          <td><span class="bodyHeadline">White Papers (PDF files)<a name="PDFs" id="Videos2"></a></span></td>
        </tr>
        
        <tr>
          <td>
          <span class="bodyLink"><a href="images/pdfs/affinity-driven_health_care_networks.pdf" target="_blank">Affinity Driven Health Information Networks</a></span> - October 10, 2005
 
          <br>
          <span class="bodyLink"><a href="images/pdfs/nhinrfiresponse.pdf" target="_blank">MedCommons Response to NHIN RFI</a></span> - January 12, 2005</td>
        </tr>
        
        
        
      </table>
   
<!-- End Sub Features Table -->

 <!-- footer inserted here under wrapper div  -->
   
{% endblock main %} 