{% extends "www/root.html" %}

{% block footer %}
     </div><!--end wrapper-->
		<div id="foot" >
			<div class="fbody"> 
        			<div id="foot_body">
        					<ul >
										<li ><a href="http://www.medcommons.net/">MedCommons Corporate</a> </li>
										<li ><a href="/privacy.html">Privacy Policy</a></li>
										<li ><a href="/terms.html">Terms of Use</a></li>
										<li ><a href="/hipaa.html">HIPAA</a></li>
										<li ><a href="/news.html">Newsroom</a></li>
										<li ><b>&copy; MedCommons Inc. 2010 </b></li>
									</ul>
					</div> <!-- end fbody -->
        		</div> <!-- end foot_body -->
      		</div>  <!-- end foot -->

</div><!-- end content -->
</div><!-- end container v 1.1-->
<script  type="text/javascript">if(wsinit) wsinit();</script>
{% endblock %}
