{% extends "www/base.html" %} 
{% block head %}
<style type='text/css'>
  table tr { height: 2.3em; }
  td.usertools * { vertical-align: middle; }
  td.usertools .icon { position: relative; top: -2px; }
  td { padding-left: 5px; }
</style>
{% endblock head %}
{% block main %}

<div class="secondary_page1_1 secondary_portal">

<!--googleon: index-->
<div class="innerPageGroup">

	<div class="secondary_header">		
		    		<div class="sheader_right">    			
              <p class="text"><img src="/images/sys_images/ACAicon_medium.gif" alt="ACA icon" />Providers-</p>
              <p class="link"><a href="/improve.html">Learn how to put this form on your website.</a></p>
            </div>
		        <div class="section_title">
			
				                		<div class="vCenter">
        	    <div class="vCenter_inner">    	
        	    	<div class="vCenter_body">						
        				<h1>Please Confirm Your Email Address</h1>	
													<p>You have not yet confirmed your email address. Please check for your Registration Email and click the link contained in it to verify your email address. </p>
						        			</div> <!-- end vCenter_body -->
        	    </div> <!-- end vCenter_inner -->
        	  </div> <!-- vCenter -->	
        	</div> <!-- page title -->
	</div> <!-- end secondary_header -->
	
<!-- marker:secondary_portal audience: -->


<div id="wrapper">


	

<div id="blueTop">&nbsp;
	<div id="blueContainerResults">
		
			<div class="bottompad20">

				<span class="yellowTextBold">You won't be able to log in to your account using your email address until you've confirmed it.</span><!--end yellowTextBold-->

			</div><!--end bottompad20-->

	
		</div><!--end blueContainerResults-->
	</div><!--end blueTop-->

 
 <!-- footer inserted here under wrapper div  -->
   
{% endblock main %} 