{% extends "www/base.html" %} 
{% block head %}
<style type='text/css'>
  table tr { height: 2.3em; }
  td.usertools * { vertical-align: middle; }
  td.usertools .icon { position: relative; top: -2px; }
  td { padding-left: 5px; }
</style>
{% endblock head %}
{% block main %}


<div class="secondary_page1_1 information secondary_portal">

<!--googleon: index-->
<div class="innerPageGroup">

	<div class="secondary_header">
				<div class="section_title" >			
					<div class="vCenter">
						<div class="vCenter_inner">    	
                	    	<div class="vCenter_body">
                				<h1 >MedCommons HIPAA Statement</h1> <p>last updated on Sep 9, 2010 </p>
								</div>
				</div> <!-- end vCenter_inner -->
					</div> <!-- vCenter -->	
				</div> <!-- end section_title -->

	</div> <!-- end news_section -->
<!-- marker:newsroom audience: -->
	
<!-- marker:secondary_portal audience: -->


<div id=wrapper>
<table width="900" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="75">&nbsp;</td>
    <td width="750" valign="top">


<p>MedCommons works with industry groups to ensure that its products
and
services meet or exceed industry standards with respect to the Health
Insurance Portability and Accountability Act of 1996 ("HIPAA").
MedCommons's products and services are specifically designed to include
features that help our customers comply with HIPAA. The MedCommons
appliance uses a relational database and document store that employs a
secure login process
requiring a user name and password. When a user adds or modifies data
within the database or document store, a record is made that includes
which data were
changed, the user ID, and the date and time the changes were made. This
establishes an audit trail that can be examined by authorized system
administrators.</p>

<h3>Customer Support</h3>

<p>MedCommons's product support staff will work with customers to help
implement MedCommons's products in a HIPAA compliant environment. All
remote access to customer patient information by MedCommons product support
staff will be made using a fully encrypted protocol.</p>

<h3>Business Associate</h3>

<p>HIPAA requires health care providers to enter into "business
associate" contracts with certain businesses to which they disclose
patient health information. These business associate contracts
generally require the recipients of such information to use appropriate
safeguards to protect the patient health information they receive. To
perform certain service and support functions, MedCommons personnel may
need access to patient health information maintained by its customers.
As a result, MedCommons may be considered a 'business associate' of
customers to whom it provides such services. MedCommons' business associate contract will generally assure its
customers that the company will use patient information obtained from
them to provide services and support only and will safeguard that
information from misuse.</p>

<h3>Privacy &amp; Security Policy</h3>

<p>To implement these business associate requirements and protect the
confidentiality and integrity of the patient information it receives,
MedCommons's Privacy and Security Policy will:</p>

<ul><li>Provide that the company obtain and use confidential patient
health information obtained from its customers only as necessary to
perform customer service and support functions;</li><li>Limit access to such information to those employees and agents who perform identified service and support functions;</li><li>Prohibit
disclosure of patient health information received from customers to
persons who are not employees or agents of the company in the absence
of express approval from the legal department and, if appropriate, the
customer and/or patient;</li><li>Require all employees and agents of
the company to report uses and disclosures of patient information that
are not permitted by MedCommons's Privacy and Security Policy;</li><li>Provide
that MedCommons investigate all reports that patient health information was
used in a manner not permitted by its Privacy and Security Policy and
will impose appropriate sanctions for conduct prohibited by the policy;</li><li>Establish
that MedCommons employees who may come in contact with patient health
information receive training regarding MedCommons's Privacy and Security
Policy and the importance of protecting the privacy and security of
patient health information; and</li><li>Provide for the storage and
transmission of patient health information received from customers in a
secure manner that protects the integrity, confidentiality and
availability of the information.</li>
</ul>
<p>You can also download a PDF of <a target="_new" href="http://awsmedia.s3.amazonaws.com/AWS_HIPAA_Whitepaper_Final.pdf">Amazon's HIPAA Statement</a></p>
 
      </td>

   <td>&nbsp;</td>
        </tr>
</table>

 <!-- footer inserted here under wrapper div  -->
{% endblock main %} 