{% extends "www/base.html" %} 
{% block head %}

<title>Doctor DICOM Radiology CD Upload</title>
<link rel="stylesheet" type="text/css" href="styles1.css">

<style type='text/css'>
  table tr { height: 2.3em; }
  td.usertools * { vertical-align: middle; }
  td.usertools .icon { position: relative; top: -2px; }
  td { padding-left: 5px; }
</style>
{% endblock head %}
{% block main %}

<div class="secondary_page1_1 secondary_portal ">

<!--googleon: index-->
<div class="innerPageGroup">



	
<div id="wrapper">


<!-- Nav Table -->


<!-- Feature Table-->
<img src='/images/features/doctors.jpg' alt=noimage/>

<!-- Content Table-->
<table width="900" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50">&nbsp;</td>
    <td width="800">&nbsp;</td>
    <td width="50">&nbsp;</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>Doctors and patients can upload and share MRI's, CT's in just a few minutes -  eliminate the need  for physical transportation of radiology CDs!  
     The CD information is transfered into a secure online <b>MedCommons HealthURL</b>, a standard health record with with the full quality DICOM images attached. 
     Absolutely no typing is required, the patient name and other information are read directly from the CD.
   
      <span class="bodyLink"><a href="https://healthurl.medcommons.net/router/currentccr?a=1013062431111407&amp;aa=1117658438174637&amp;g=3642665a324059089d0b989286eb9a9ced046e54&amp;t=&amp;m=&amp;c=&amp;auth=c3faf3705e0e98c0984d1f86b96a789f3dba2638&amp;at=c3faf3705e0e98c0984d1f86b96a789f3dba2638" target="_blank">See a sample <b>HealthURL</b> here.</a></span>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><a href="/uploadwww.html" <img src="images/buttons/btn_uploadCD.gif" alt="upLoad Radiology CD" name="upLoadCD" width="255" height="30" hspace="0" vspace="10" border="0" id="upLoadCD" /></a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
     <h3>How It Works:</h3>
     
      <!-- numbered Table-->
      <table width="800" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td width="16" align="left" valign="top"><img src="images/buttonCircle.gif" width="16" height="16" /></td>
          <td width="584" valign="top">We install a DICOM CD reader on your Windows, Mac or Linux PC.</td>
          <!-- siderBar Cell-->
          <td width="200" rowspan="6" valign="top">
          
     

          <table width="210" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" height="97%" background="images/backgroundGradient.jpg">
  <tr bgcolor="#a7b7c8">

    <td width="2" rowspan="12" bgcolor="#003366"><img src="images/spacer.gif" width="2" height="2" /></td>

    <td colspan="2" bgcolor="#003366" height="2"><img src="images/spacer.gif" width="2" height="2" /></td>

    <td width="2" rowspan="12" bgcolor="#003366"><img src="images/spacer.gif" width="2" height="2" /></td>
  </tr>
  <tr bgcolor="#a7b7c8">
    <td>&nbsp;</td>
    <td width="175"><img src="images/hdr_usingURL.png" width="165" height="20" /></td>
  </tr>
  <tr>
    <td width="25" height="25"><img name = "arrow1" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="share.html" onmouseover = "(document.arrow1.src)='images/arrow.gif';" onmouseout = "(document.arrow1.src)='images/spacer.gif';">Share</a></td>
  </tr>
  <!-- 
  <tr>
    <td width="25" height="25"><img name = "arrow2" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="fax.html" onmouseover = "(document.arrow2.src)='images/arrow.gif';" onmouseout = "(document.arrow2.src)='images/spacer.gif';">Get Records by FAX</a></td>
  </tr>
  -->
  <tr>
    <td width="25" height="25"><img name = "arrow3" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="pdf.html" onmouseover = "(document.arrow3.src)='images/arrow.gif';" onmouseout = "(document.arrow3.src)='images/spacer.gif';">Add a PDF Document</a></td>
  </tr>
  <tr>
    <td width="25" height="25"><img name = "arrow4" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="personalBU.html"  onmouseover = "(document.arrow4.src)='images/arrow.gif';" onmouseout = "(document.arrow4.src)='images/spacer.gif';">Personal Backup</a></td>
  </tr>
  <tr>
    <td width="25" height="25"><img name = "arrow5" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="dicom.html"  onmouseover = "(document.arrow5.src)='images/arrow.gif';" onmouseout = "(document.arrow5.src)='images/spacer.gif';">Connect DICOM Workstation</a></td>
  </tr>
  <tr>
    <td width="25" height="25"><img name = "arrow6" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="mriCT.html"  onmouseover = "(document.arrow6.src)='images/arrow.gif';" onmouseout = "(document.arrow6.src)='images/spacer.gif';">Connect MRI/CT Scanner</a></td>
  </tr>
  <!-- 
  <tr>
    <td width="25" height="25"><img name = "arrow7" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="pricing.html" onmouseover = "(document.arrow7.src)='images/arrow.gif';" onmouseout = "(document.arrow7.src)='images/spacer.gif';"">Pricing</a></td>
  </tr>

  <tr>
    <td width="25" height="25"><img name = "arrow8" src = "images/spacer.gif" alt = "" border = "0" /></td>
    <td  class="listLink"><a href="amazon.html" onmouseover = "(document.arrow8.src)='images/arrow.gif';" onmouseout = "(document.arrow8.src)='images/spacer.gif';">Amazon Payments</a></td>
  </tr>
 -->
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>

    <td colspan="2" bgcolor="#003366" height="2"><img src="images/spacer.gif" width="2" height="2" /></td>
  </tr>
</table>


         
          </td>
          
        </tr>
        <tr>
          <td valign="top"><img src="images/buttonCircle.gif" alt="" width="16" height="16" /></td>
          <td valign="top">You tell the reader the location of your CD.</td>
        </tr>
        <tr>
          <td valign="top"><img src="images/buttonCircle.gif" alt="" width="16" height="16" /></td>
          <td valign="top">The reader uploads the CD; full quality radiology CDs can be large, you may preview the <b>HeathURL</b> and images even as the upload proceeds.</td>
        </tr>
        <tr>
          <td valign="top"><img src="images/buttonCircle.gif" alt="" width="16" height="16" /></td>
          <td valign="top">You will receive a VoucherID code and PIN that you can share with anyone to grant access to the <b>HealthURL</b>.</td>
        </tr>
        <tr>
          <td valign="top"><img src="images/buttonCircle.gif" alt="" width="16" height="16" /></td>
          <td valign="top">Save the VoucherID and PIN, share as you wish; after payment the access is good for 30 days.</td>
        </tr>
        
              <tr>
          <td valign="top"><img src="images/buttonCircle.gif" alt="" width="16" height="16" /></td>
          <td>Authorized users can view the <b>HealthURL</b>, including images in a Web browser. In addition, radiologists and surgeons can connect their DICOM workstation to the <b>HealthURL</b>. Electronic health records that support Web links can also display the <b>HealthURL</b>.</td>
        </tr>
        
        
      </table>
      <h3>BENEFITS FOR DOCTORS</h3>      
      
      <ul>
	<li>Display a simple unified view of a patients medical record with linked images and documents</li>
	<li>A collaborative workspace for each patient's care team including other practices and family members</li>
	<li>Easily assemble information from diverse internal and external practices</li>
	<li>Expand the referral base without any up-front connection cost</li>
	<li>Radiologists and surgeons can complement a favorite radiology workstation. Free open source workstations are available for both Mac and Windows</li>
	<li>iPhone and smartphone access to images, reports, documents anywhere</li>
    </ul>

      <!-- If you don't have a radiology CD, you can <span class="bodyLink"><a href="/samples.html">download a small example CD here</a></span> - it's only 4 MB -->
      
      <H3>SAMPLE RADIOLOGY CD</H3>
      You can try MedCommons even if you don't have a handy radiology CD. <span class="bodyLink"><a href="/samples.html">Download a usable sample here.</a></span>
      
    </td>
    <td width="40">&nbsp;</td>
  </tr>
</table>

 <!-- wrapper divs ended elsewhere -->

        
   
{% endblock main %} 