<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="author" content="MedCommons, Inc." >
    <meta name="description" content="MedCommons Webservices Version 1.2" >
    <meta name="keywords" 
    content="medcommons, dicom, DICOM, personal health records,ccr, phr, privacy, patient, health, records, medical records, emergencyccr">
    <meta name="robots" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width" >
    <title>{% block title %}{{ title }}{% endblock %}</title>
     {% block meta %} {% endblock %} 
     {% block favicon %}
    <link rel="shortcut icon" href="../images/favicon.gif" type="image/gif" >
     {% endblock %}
<style type="text/css">
@import "/acct/mccss1.css";
@import "/acct/mclocalcss1.css";
</style>
<script type="text/javascript" src='/acct/mcjs1.js'></script>
    {% block head %}{% endblock %}
</head>

<body {% block body %}{% endblock %} >
<div id="container">

 <!--  Start Header fields filled in by js -->
      <div id="header">
        <div id="hdbody">
	      <div id="topbanner" >
	        <div class = headlinks >
			           <p id=control>
				      		<span id='UserName'></span>
				      		<span id='LogoutLink'></span>
			           </p>
            </div>  <!-- end headlinks -->
            <div id="sitelogo">
					    <a href='/info.html'><img height=50 src="/images/logoGray.png" alt="MedCommons logo" ></a><p>Imaging, Consults, Referrals</p>
		    </div>
          </div>  <!-- end topbanner -->
        </div>
        <!-- end hdbody -->
      </div> <!-- end header -->

      
<div id="topnav">
    <ul>
			<li class="menu1_1 menu1_1_not_selected"><span id='RegisterLink'>***</span></li>		  									    
			<li class="menu1_2 menu1_2_not_selected"><span id='UploadLink'>***</span></li>							    
			<li class="menu1_3 menu1_3_not_selected"><span id='InboxLink'>***</span></li>									    
			<li class="menu1_4 menu1_4_not_selected"><span id='HealthURLLink'>***</span></li>			
			<li class="menu1_5 lastTopMenu menu1_5_not_selected ">	
    				<a href="/info.html" title="Information for You"><span id="MoreInfoLink">More Info</span></a>
			 </li> 				
	  </ul>
</div>

<div class="clear">&nbsp;</div>

                   {% block main %} {% endblock main %}


            {% block footer %} {% endblock %}

  {% block endjs %} {% endblock %}

           
</div>

</body>
</html>